<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改书价</title>
</head>
<body>
    <form action="/bookstore/mod/{{ abook.id }}" method="post">
        <div>书名：  <input type="text" value="{{ abook.title }}"></div>
        <div>出版社：<input type="text" value="{{ abook.pub }}"></div>
        <div>定价：  <input type="text" value="{{ abook.price }}"></div>
        <div>零售价：<input type="text" name="m_price" value="{{ abook.market_price }}"></div>
        <div><input type="submit" value="确认修改"></div>
    </form>
</body>
</html>