<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <style>
        div > span{
        color:red;
        }

        div > label{
            display:inline-block;
            width:80px;
        }
    </style>
</head>
<body>
<form action="/user/login" method="post">
    {% csrf_token %}
    <div>
        <label>用户名</label>
        <input type="text" name="username" value="{{ username }}">
        <span>{{ username_error }}</span>
    </div>
    <div>
        <label>密码</label>
        <input type="text" name="password" value="{{ password1 }}">
        <span>{{ password_error }}</span>
    </div>
    <div>
        <label>记住用户名</label>
        <input type="checkbox" name="remember" value="1" id="'id_rem">

    </div>
    <div>
        <input type="submit" value="登录">
    </div>
</form>
</body>
</html>