<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>xhr-get</title>
</head>
<body>
<a href="/index/xhr_get_server">普通请求</a>
<script src="/static/js/common.js"></script>
<button onclick="getXhr()">xhr-get</button>
<div id="show"></div>

<input type="text" id="params">
<button onclick="getXhrP()">xhr-get-params</button>
<div id="show_p"></div>


<script>
        function getXhr(){
        //1.创建xhr
        var xhr = createXhr();
        console.log(xhr);
        //2.创建请求
        xhr.open('get', '/index/xhr_get_server',true);
        //3.设置回调
        xhr.onreadystatechange = function(){
            //判断xhr状态 以及 服务器返回状态
            if (xhr.readyState == 4 && xhr.status == 200){
                document.getElementById('show').innerHTML = xhr.responseText;
            }
        }
        //4.发送请求
        xhr.send(null);
      }


      function getXhrP(){
        //1.创建xhr
        var xhr = createXhr();
        //2.创建请求
        var params = document.getElementById('params').value;
        var url = '/index/xhr_get_server?params=' + params;
        xhr.open('get', url, true);
      //3.设置回调
      xhr.onreadystatechange = function(){
        if (xhr.readyState == 4 && xhr.status == 200){
            var res = xhr.responseText;
            var show = document.getElementById('show_p');
            show.innerHTML = res;
        }
      }
        //4.发送请求
        xhr.send(null);
     }








</script>




</body>
</html>